https://docs.fast.ai/text.transform.html
https://github.com/fastai/fastai/blob/0b31610c6a836c56a337e2a34ee2d1510456d1c6/tests/test_text_transform.py#L19

### Steps

1. Load the dataset into a pandas dataframe.
1. Use regular expressions to remove elements that are not words such as HTML tags, LaTeX expressions, URLs, digits, line returns, and so on.
1. Remove missing values for texts
1. Remove texts that are extremely large or too short to bring any information to the model. We want to keep paragraphs that contain at least a few words and remove the paragraphs that are composed of large numerical tables.
1. Use a tokenizer to create a version of the original text that is a string of space-separated lowercase tokens.

### Deliverable

* A .csv file that contains the original columns and a new column for the string of lowercase, space-separated tokens

 ### Download the dataset

In [16]:
import os.path
from os import path
from urllib import request

GZ_FILE   = 'stackexchange_812k.csv.gz'
#DATA_FILE = 'stackexchange_812k.csv'
DATA_URL  = 'https://liveproject-resources.s3.amazonaws.com/116/other/stackexchange_812k.csv.gz'
if not path.exists(f'data/{GZ_FILE}'):
    request.urlretrieve(DATA_URL, f'data/{GZ_FILE}')

### Load into Pandas

In [22]:
import gzip
import pandas as pd
with gzip.open(f'data/{GZ_FILE}') as f:
   df = pd.read_csv(f)

### Clean the Data

In [23]:
import re

def clean_text(txt):
    txt = re.sub(r'<pre>.*?</pre>', r'', txt, flags=re.S)
    txt = re.sub(r'<[^<]+?>', '', txt) #html tags
    txt = re.sub(r'\$[^$]+\$', '', txt)  #latex
    txt = re.sub(r'https?://[^\s]*', '', txt) #remove URLs
    txt = re.sub(r'\s+', ' ', txt) #condense spaces 
    return txt

df['text'] = df['text'].apply(clean_text)

In [25]:
remove_small = df["text"].str.len() > 10
df = df[remove_small]

In [26]:
df.head()

,post_id,parent_id,comment_id,text,category
0,1,NaN,NaN,Eliciting priors from experts,title
1,2,NaN,NaN,What is normality?,title
2,3,NaN,NaN,What are some valuable Statistical Analysis op...,title
3,4,NaN,NaN,Assessing the significance of differences in d...,title
4,6,NaN,NaN,The Two Cultures: statistics vs. machine learn...,title

### Explore the Data

You can skip this section unless you want to see what the data looks like.

In [27]:
#largest text fields
df['length'] = df['text'].str.len()
df.sort_values('length', ascending=False).head()

,post_id,parent_id,comment_id,text,category,length
211158,123567,123063.0,NaN,In this my answer (a second and additional to ...,post,22088
155389,438347,NaN,NaN,I would like to clean multiple time series of ...,post,20902
193171,316129,315502.0,NaN,This answer aims to do four things: Review Ros...,post,18729
246925,247250,247094.0,NaN,"If ""manually"" includes ""mechanical"" then you h...",post,16999
211091,123389,121852.0,NaN,I am going to change the order of questions ab...,post,16892

In [28]:
#shortest text fields
df.sort_values('length', ascending=True).head()

        post_id  parent_id  comment_id         text category  length
400901   181229        NaN    344015.0  Maybe see:   comment      11
705986   350492        NaN    782409.0  Some dups:   comment      11
261914     1889        NaN      2034.0  like so ;-)  comment      11
487681   375856        NaN    706374.0  Please see   comment      11
688593   333532        NaN    741790.0  [DataCamp](  comment      11

In [29]:
df['length'].plot.hist(bins=100)

### Tokenize the results

#### spacy tokenization

In [30]:
import spacy
import re
from spacy.tokenizer import Tokenizer
from spacy.lang.en import English

In [41]:
nlp = English()

In [ ]:
df['tokenized'] = df.apply(lambda row, nlp=nlp: ' '.join([t.text for t in nlp(row.text)]), axis=1)

In [65]:
df.head()

,post_id,parent_id,comment_id,text,category,length,tokenized
0,1,NaN,NaN,Eliciting priors from experts,title,29,Eliciting priors from experts
1,2,NaN,NaN,What is normality?,title,18,What is normality ?
2,3,NaN,NaN,What are some valuable Statistical Analysis op...,title,65,What are some valuable Statistical Analysis op...
3,4,NaN,NaN,Assessing the significance of differences in d...,title,58,Assessing the significance of differences in d...
4,6,NaN,NaN,The Two Cultures: statistics vs. machine learn...,title,50,The Two Cultures : statistics vs. machine lear...

#### fastai tokenization

I haven't run this yet.  I have it hear just in case it might be a faster solution.

In [ ]:
from fastai.text import *

In [48]:
tokenizer = Tokenizer()

In [49]:
%%time
texts  = df['text'].values
tokens = tokenizer.process_all(texts) #faster to do it all at once?

In [ ]:
df['tokenized2'] = [' '.join(tt) for tt in tokens]

### Write to CSV

In [66]:
OUT_FILE= 'stackexchange_tokenized.csv'
df.to_csv(f'data/{OUT_FILE}')

In [57]:
#easy to combine spacy and fastai. 

#tokenizer = Tokenizer()
tok = SpacyTokenizer('en')
' '.join(tokenizer.process_text(df.loc[211091].text, tok))

'i am going to change the order of questions about . i \'ve found textbooks and lecture notes frequently disagree , and would like a system to work through the choice that can safely be recommended as best practice , and especially a textbook or paper this can be cited to . xxmaj unfortunately , some discussions of this issue in books and so on rely on received wisdom . xxmaj sometimes that received wisdom is reasonable , sometimes it is less so ( at the least in the sense that it tends to focus on a smaller issue when a larger problem is ignored ) ; we should examine the justifications offered for the advice ( if any justification is offered at all ) with care . xxmaj most guides to choosing a t - test or non - parametric test focus on the normality issue . xxmaj that ’s true , but it ’s somewhat misguided for several reasons that i address in this answer . xxmaj if performing an " unrelated samples " or " unpaired " t - test , whether to use a xxmaj welch correction ? xxmaj this ( to use it unless you have reason to think variances should be equal ) is the advice of numerous references . i point to some in this answer . xxmaj some people use a hypothesis test for equality of variances , but here it would have low power . xxmaj generally i just eyeball whether the sample sds are " reasonably " close or not ( which is somewhat subjective , so there must be a more principled way of doing it ) but again , with low n it may well be that the population sds are rather further apart than the sample ones . xxmaj is it safer simply to always use the xxmaj welch correction for small samples , unless there is some good reason to believe population variances are equal ? xxmaj that ’s what the advice is . xxmaj the properties of the tests are affected by the choice based on the assumption test . xxmaj some references on this can be seen here and here , though there are more that say similar things . xxmaj the equal - variances issue has many similar characteristics to the normality issue – people want to test it , advice suggests conditioning choice of tests on the results of tests can adversely affect the results of both kinds of subsequent test – it ’s better simply not to assume what you ca n’t adequately justify ( by reasoning about the data , using information from other studies relating to the same variables and so on ) . xxmaj however , there are differences . xxmaj one is that – at least in terms of the distribution of the test statistic under the null hypothesis ( and hence , its level - robustness ) - non - normality is less important in large samples ( at least in respect of significance level , though power might still be an issue if you need to find small effects ) , while the effect of unequal variances under the equal variance assumption does n’t really go away with large sample size . xxmaj what principled method can be recommended for choosing which is the most appropriate test when the sample size is " small " ? xxmaj with hypothesis tests , what matters ( under some set of conditions ) is primarily two things : xxmaj what is the actual type i error rate ? xxmaj what is the power behaviour like ? xxmaj we also need to keep in mind that if we \'re comparing two procedures , changing the first will change the second ( that is , if they ’re not conducted at the same actual significance level , you would expect that higher is associated with higher power ) . xxmaj with these small - sample issues in mind , is there a good - hopefully citable - checklist to work through when deciding between t and non - parametric tests ? i will consider a number of situations in which i ’ll make some recommendations , considering both the possibility of non - normality and unequal variances . xxmaj in every case , take mention of the t - test to imply the xxmaj welch - test : n medium - large xxmaj non - normal ( or unknown ) , likely to have near - equal variance : xxmaj if the distribution is heavy - tailed , you will generally be better with a xxmaj mann - xxmaj whitney , though if it ’s only slightly heavy , the t - test should do okay . xxmaj with light - tails the t - test may ( often ) be preferred . xxmaj permutation tests are a good option ( you can even do a permutation test using a t - statistic if you \'re so inclined ) . xxmaj bootstrap tests are also suitable . xxmaj non - normal ( or unknown ) , unequal variance ( or variance relationship unknown ) : xxmaj if the distribution is heavy - tailed , you will generally be better with a xxmaj mann - xxmaj whitney - if inequality of variance is only related to inequality of mean - i.e. if xxup h0 is true the difference in spread should also be absent . glms are often a good option , especially if there ’s skewness and spread is related to the mean . a permutation test is another option , with a similar caveat as for the rank - based tests . xxmaj bootstrap tests are a good possibility here . xxmaj zimmerman and xxmaj zumbo ( 1993 ) suggest a xxmaj welch - t - test on the ranks which they say performs better that the xxmaj wilcoxon - xxmaj mann - xxmaj whitney in cases where the variances are unequal . n moderately small rank tests are reasonable defaults here if you expect non - normality ( again with the above caveat ) . xxmaj if you have external information about shape or variance , you might consider glms . xxmaj if you expect things not to be too far from normal , t - tests may be fine . n very small xxmaj because of the problem with getting suitable significance levels , neither permutation tests nor rank tests may be suitable , and at the smallest sizes , a t - test may be the best option ( there ’s some possibility of slightly robustifying it ) . xxmaj however , there ’s a good argument for using higher type i error rates with small samples ( otherwise you ’re letting type xxup ii error rates inflate while holding type i error rates constant ) . xxmaj also see de xxmaj winter ( 2013 ) . xxmaj the advice must be modified somewhat when the distributions are both strongly skewed and very discrete , such as xxmaj likert scale items where most of the observations are in one of the end categories . xxmaj then the xxmaj wilcoxon - xxmaj mann - xxmaj whitney is n’t necessarily a better choice than the t - test . xxmaj simulation can help guide choices further when you have some information about likely circumstances . i appreciate this is something of a perennial topic , but most questions concern the questioner \'s particular data set , sometimes a more general discussion of power , and occasionally what to do if two tests disagree , but i would like a procedure to pick the correct test in the first place ! xxmaj the main problem is how hard it is to check the normality assumption in a small data set : xxmaj it is difficult to check normality in a small data set , and to some extent that \'s an important issue , but i think there \'s another issue of importance that we need to consider . a basic problem is that trying to assess normality as the basis of choosing between tests adversely impacts the properties of the tests you \'re choosing between . xxmaj any formal test for normality would have low power so violations may well not be detected . ( xxmaj personally i would n\'t test for this purpose , and i \'m clearly not alone , but i \'ve found this little use when clients demand a normality test be performed because that \'s what their textbook or old lecture notes or some website they found once declare should be done . xxmaj this is one point where a weightier looking citation would be welcome . ) xxmaj here ’s an example of a reference ( there are others ) which is unequivocal ( xxmaj fay and xxmaj proschan , 2010 ) : xxmaj the choice between t- and xxup wmw drs should not be based on a test of normality . xxmaj they are similarly unequivocal about not testing for equality of variance . xxmaj to make matters worse , it is unsafe to use the xxmaj central xxmaj limit xxmaj theorem as a safety net : for small n we ca n\'t rely on the convenient asymptotic normality of the test statistic and t distribution . xxmaj nor even in large samples -- asymptotic normality of the numerator does n’t imply that the t - statistic will have a t - distribution . xxmaj however , that may not matter so much , since you should still have asymptotic normality ( e.g. xxup clt for the numerator , and xxmaj slutsky ’s theorem suggest that eventually the t - statistic should begin to look normal , if the conditions for both hold . ) xxmaj one principled response to this is " safety first " : as there \'s no way to reliably verify the normality assumption on a small sample , run an equivalent non - parametric test instead . xxmaj that ’s actually the advice that the references i mention ( or link to mentions of ) give . xxmaj another approach i \'ve seen but feel less comfortable with , is to perform a visual check and proceed with a t - test if nothing untowards is observed ( " no reason to reject normality " , ignoring the low power of this check ) . xxmaj my personal inclination is to consider whether there are any grounds for assuming normality , theoretical ( e.g. variable is sum of several random components and xxup clt applies ) or empirical ( e.g. previous studies with larger n suggest variable is normal ) . xxmaj both those are good arguments , especially when backed up with the fact that the t - test is reasonably robust against moderate deviations from normality . ( xxmaj one should keep in mind , however , that " moderate deviations " is a tricky phrase ; certain kinds of deviations from normality may impact the power performace of the t - test quite a bit even though those deviations are visually very small - the t - test is less robust to some deviations than others . xxmaj we should keep this in mind whenever we \'re discussing small deviations from normality . ) xxmaj beware , however , the phrasing " suggest the variable is normal " . xxmaj being reasonably consistent with normality is not the same thing as normality . xxmaj we can often reject actual normality with no need even to see the data – for example , if the data can not be negative , the distribution can not be normal . xxmaj fortunately , what matters is closer to what we might actually have from previous studies or reasoning about how the data are composed , which is that the deviations from normality should be small . xxmaj if so , i would use a t - test if data passed visual inspection , and otherwise stick to non - parametrics . xxmaj but any theoretical or empirical grounds usually only justify assuming approximate normality , and on low degrees of freedom it \'s hard to judge how near normal it needs to be to avoid invalidating a t - test . xxmaj well , that ’s something we can assess the impact of fairly readily ( such as via simulations , as i mentioned earlier ) . xxmaj from what i \'ve seen , skewness seems to matter more than heavy tails ( but on the other hand i have seen some claims of the opposite - though i do n\'t know what that \'s based on ) . xxmaj for people who see the choice of methods as a trade - off between power and robustness , claims about the asymptotic efficiency of the non - parametric methods are unhelpful . xxmaj for instance , the rule of thumb that " xxmaj wilcoxon tests have about 95 % of the power of a t - test if the data really are normal , and are often far more powerful if the data is not , so just use a xxmaj wilcoxon " is sometimes heard , but if the 95 % only applies to large n , this is flawed reasoning for smaller samples . xxmaj but we can check small - sample power quite easily ! xxmaj it ’s easy enough to simulate to obtain power curves as here . ( xxmaj again , also see de xxmaj winter ( 2013 ) ) . xxmaj having done such simulations under a variety of circumstances , both for the two - sample and one - sample / paired - difference cases , the small sample efficiency at the normal in both cases seems to be a little lower than the asymptotic efficiency , but the efficiency of the signed rank and xxmaj wilcoxon - xxmaj mann - xxmaj whitney tests is still very high even at very small sample sizes . xxmaj at least that \'s if the tests are done at the same actual significance level ; you ca n\'t do a 5 % test with very small samples ( and least not without randomized tests for example ) , but if you \'re prepared to perhaps do ( say ) a 5.5 % or a 3.2 % test instead , then the rank tests hold up very well indeed compared with a t - test at that significance level . xxmaj small samples may make it very difficult , or impossible , to assess whether a transformation is appropriate for the data since it \'s hard to tell whether the transformed data belong to a ( sufficiently ) normal distribution . xxmaj so if a xxup qq plot reveals very positively skewed data , which look more reasonable after taking logs , is it safe to use a t - test on the logged data ? xxmaj on larger samples this would be very tempting , but with small n i \'d probably hold off unless there had been grounds to expect a log - normal distribution in the first place . xxmaj there ’s another alternative : make a different parametric assumption . xxmaj for example , if there ’s skewed data , one might , for example , in some situations reasonably consider a gamma distribution , or some other skewed family as a better approximation - in moderately large samples , we might just use a xxup glm , but in very small samples it may be necessary to look to a small - sample test - in many cases simulation can be useful . xxmaj alternative 2 : robustify the t - test ( but taking care about the choice of robust procedure so as not to heavily discretize the resulting distribution of the test statistic ) - this has some advantages over a very - small - sample nonparametric procedure such as the ability to consider tests with low type i error rate . xxmaj here i \'m thinking along the lines of using say m - estimators of location ( and related estimators of scale ) in the t - statistic to smoothly robustify against deviations from normality . xxmaj something akin to the xxmaj welch , like : $ \\ stackrel { \\ sim}{s}_p^2= \\ frac { \\ stackrel { \\ sim}{s}_x^2}{n_x}+ \\ frac { \\ stackrel { \\ sim}{s}_y^2}{n_y } \\ stackrel { \\ sim}{x } \\ stackrel { \\ sim}{s}_x \\ psin$ is very small indeed ( around 3 - 5 , in each sample , say ) , so even m - estimation potentially has its issues . xxmaj you could , for example , use simulation at the normal to get p - values ( if sample sizes are very small , i \'d suggest that over bootstrapping - if sample sizes are n\'t so small , a carefully - implemented bootstrap may do quite well , but then we might as well go back to xxmaj wilcoxon - xxmaj mann - xxmaj whitney ) . xxmaj there \'s be a scaling factor as well as a d.f . adjustment to get to what i \'d imagine would then be a reasonable t - approximation . xxmaj this means we should get the kind of properties we seek very close to the normal , and should have reasonable robustness in the broad vicinity of the normal . xxmaj there are a number of issues that come up that would be outside the scope of the present question , but i think in very small samples the benefits should outweigh the costs and the extra effort required . [ i have n\'t read the literature on this stuff for a very long time , so i do n\'t have suitable references to offer on that score . ] xxmaj of course if you did n\'t expect the distribution to be somewhat normal - like , but rather similar to some other distribution , you could undertake a suitable robustification of a different parametric test . xxmaj what if you want to check assumptions for the non - parametrics ? xxmaj some sources recommend verifying a symmetric distribution before applying a xxmaj wilcoxon test , which brings up similar problems to checking normality . xxmaj indeed . i assume you mean the signed rank test*. xxmaj in the case of using it on paired data , if you are prepared to assume that the two distributions are the same shape apart from location shift you are safe , since the differences should then be symmetric . xxmaj actually , we do n\'t even need that much ; for the test to work you need symmetry under the null ; it \'s not required under the alternative ( e.g. consider a paired situation with identically - shaped right skewed continuous distributions on the positive half - line , where the scales differ under the alternative but not under the null ; the signed rank test should work essentially as expected in that case ) . xxmaj the interpretation of the test is easier if the alternative is a location shift though . * ( xxmaj wilcoxon ’s name is associated with both the one and two sample rank tests – signed rank and rank sum ; with their u test , xxmaj mann and xxmaj whitney generalized the situation studied by xxmaj wilcoxon , and introduced important new ideas for evaluating the null distribution , but the priority between the two sets of authors on the xxmaj wilcoxon - xxmaj mann - xxmaj whitney is clearly xxmaj wilcoxon ’s -- so at least if we only consider xxmaj wilcoxon vs mann&&whitney , xxmaj wilcoxon goes first in my book . xxmaj however , it seems xxmaj stigler \'s xxmaj law beats me yet again , and xxmaj wilcoxon should perhaps share some of that priority with a number of earlier contributors , and ( besides xxmaj mann and xxmaj whitney ) should share credit with several discoverers of an equivalent test.[4][5 ] ) xxmaj references [ 1 ] : xxmaj zimmerman xxup dw and xxmaj zumbo xxup bn , ( 1993 ) , xxmaj rank transformations and the power of the xxmaj student t - test and xxmaj welch t′-test for non - normal populations , xxmaj canadian xxmaj journal xxmaj experimental xxmaj psychology , 47 : 523–39 . [ 2 ] : xxup j.c.f. de xxmaj winter ( 2013 ) , " xxmaj using the xxmaj student ’s t - test with extremely small sample sizes , " xxmaj practical xxmaj assessment , xxmaj research and xxmaj evaluation , 18:10 , xxmaj august , xxup issn 1531 - 7714 [ 3 ] : xxmaj michael xxup p. xxmaj fay and xxmaj michael xxup a. xxmaj proschan ( 2010 ) , " xxmaj wilcoxon - xxmaj mann - xxmaj whitney or t - test ? xxmaj on assumptions for hypothesis tests and multiple interpretations of decision rules , " xxmaj stat xxmaj surv ; 4 : 1–39 . [ 4 ] : xxmaj berry , xxup k.j. , xxmaj mielke , xxup p.w. and xxmaj johnston , xxup j.e. ( 2012 ) , " xxmaj the xxmaj two - sample xxmaj rank - sum xxmaj test : xxmaj early xxmaj development , " xxmaj electronic xxmaj journal for xxmaj history of xxmaj probability and xxmaj statistics , xxmaj vol.8 , xxmaj december pdf [ 5 ] : xxmaj kruskal , xxup w. xxup h. ( 1957 ) , " xxmaj historical notes on the xxmaj wilcoxon unpaired two - sample test , " xxmaj journal of the xxmaj american xxmaj statistical xxmaj association , 52 , 356–360 .'

In [5]:
texts = ['one two three four', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.', "I'm suddenly SHOUTING FOR NO REASON"]

In [6]:
tokenizer.process_all(texts)

[['one', 'two', 'three', 'four'],
 ['xxmaj',
  'lorem',
  'ipsum',
  'dolor',
  'sit',
  'amet,',
  'consectetur',
  'adipiscing',
  'elit,',
  'sed',
  'do',
  'eiusmod',
  'tempor',
  'incididunt',
  'ut',
  'labore',
  'et',
  'dolore',
  'magna',
  'aliqua.'],
 ['xxmaj',
  "i'm",
  'suddenly',
  'xxup',
  'shouting',
  'xxup',
  'for',
  'xxup',
  'no',
  'xxup',
  'reason']]

load the dataset into a pandas dataframe

In [8]:
import gzip
import pandas as pd
with gzip.open(f'data/{GZ_FILE}') as f:
   df = pd.read_csv(f)

In [27]:
df.head()

,post_id,parent_id,comment_id,text,category
0,1,NaN,NaN,Eliciting priors from experts,title
1,2,NaN,NaN,What is normality?,title
2,3,NaN,NaN,What are some valuable Statistical Analysis op...,title
3,4,NaN,NaN,Assessing the significance of differences in d...,title
4,6,NaN,NaN,The Two Cultures: statistics vs. machine learn...,title

Use regular expressions to remove elements that are not words such as HTML tags, LaTeX expressions, URLs, digits, line returns, and so on.

In [33]:
#what will fastai do here?
html = fix_html("<b>hello</b> 1234") #didn't really fix it. 
tokenizer.process_all([html])

[['<b>hello<', '/', 'b>', '1234']]

In [103]:
#simple RE approach
import re

pre = "text begin<pre>code inside!\n\n</pre> text end"
latex = r'hello $y = mx + b$ is my equation'
url = "my favorite website is https://www.stylemepretty.com. Love it"
spaces = "this is no good.\r\n no good.    bad\r\r\r\n\n boy."

text5 = re.sub(r'<pre>.*?</pre>', r'', pre, flags=re.S)
text = re.sub(r'<[^<]+?>', '', html)
txt2 = re.sub(r'\$[^$]+\$', '', latex)
txt3 = re.sub(r'https?://[^\s]*', '', url) #remove URLs
txt4 = re.sub(r'\s+', ' ', spaces) #condense spaces

#remove punctuation

text5

'text begin text end'

In [45]:
#messing with spacy
# https://spacy.io/usage/linguistic-features#native-tokenizers
import spacy
import re
from spacy.tokenizer import Tokenizer
from spacy.lang.en import English

special_cases = {":)": [{"ORTH": ":)"}]}
prefix_re = re.compile(r'''^[[("']''')
suffix_re = re.compile(r'''[])"']$''')
infix_re = re.compile(r'''[-~]''')
simple_url_re = re.compile(r'''^https?://''')

#nlp = spacy.load("en_core_web_sm")
nlp = English()
tok = Tokenizer(nlp.vocab, rules=special_cases,
                prefix_search=prefix_re.search,
                suffix_search=suffix_re.search,
                infix_finditer=infix_re.finditer,
                #token_match=simple_url_re.match
               )

#nlp.tokenizer = tok
doc = nlp("my favorite website is https://www.stylemepretty.com - boom. :)") #suffix_re matches to 'boom.'
print([t.text for t in doc])

['my', 'favorite', 'website', 'is', 'https://www.stylemepretty.com', '-', 'boom', '.', ':)']

Remove missing values for texts

In [53]:
df[df["text"].isnull()] #no text is null

Empty DataFrame
Columns: [post_id, parent_id, comment_id, text, category]
Index: []

In [59]:
minsize = df["text"].str.len() > 10
maxsize = df["text"].str.len() < 300
df[maxsize & minsize].head()

,post_id,parent_id,comment_id,text,category
0,1,NaN,NaN,Eliciting priors from experts,title
1,2,NaN,NaN,What is normality?,title
2,3,NaN,NaN,What are some valuable Statistical Analysis op...,title
3,4,NaN,NaN,Assessing the significance of differences in d...,title
4,6,NaN,NaN,The Two Cultures: statistics vs. machine learn...,title

Remove the paragraphs that are composed of large numerical tables.

In [60]:
very_big = df["text"].str.len() > 300
df[very_big].head()

,post_id,parent_id,comment_id,text,category
91755,4,NaN,NaN,<p>I have two groups of data. Each with a dif...,post
91756,5,3.0,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",post
91757,6,NaN,NaN,"<p>Last year, I read a blog post from <a href=...",post
91758,7,NaN,NaN,<p>I've been working on a new method for analy...,post
91762,11,NaN,NaN,"<p>Is there a good, modern treatment covering ...",post

In [77]:
df.loc[91755].text

"<p>I have two groups of data.  Each with a different distribution of multiple variables.  I'm trying to determine if these two groups' distributions are different in a statistically significant way.  I have the data in both raw form and binned up in easier to deal with discrete categories with frequency counts in each.  </p>\n\n<p>What tests/procedures/methods should I use to determine whether or not these two groups are significantly different and how do I do that in SAS or R (or Orange)?</p>\n"

In [70]:
bar = df["text"].str.contains(r'\d{8,}', regex=True)
# contains can do regular expressions. Try that
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html

In [71]:
df[bar].head()

,post_id,parent_id,comment_id,text,category
91757,6,NaN,NaN,"<p>Last year, I read a blog post from <a href=...",post
91796,71,58.0,NaN,<p>It's an algorithm for training feedforward ...,post
91826,126,125.0,NaN,"<p>My favorite is <a href=""http://www.amazon.c...",post
91839,151,118.0,NaN,<p>If the goal of the standard deviation is to...,post
91883,231,223.0,NaN,<p>This is one I've used successfully:</p>\n\n...,post

In [75]:
df.loc[91826].text

'<p>My favorite is <a href="http://www.amazon.com/exec/obidos/ISBN=158488388X/">"Bayesian Data Analysis"</a> by Gelman, et al.</p>\n'

In [81]:
#largest text fields
df['length'] = df['text'].str.len()
df.sort_values('length', ascending=False).head()

,post_id,parent_id,comment_id,text,category,length
99414,13845,NaN,NaN,<p>I’m working on a trading system and need to...,post,38847
124323,67228,NaN,NaN,<p>How do I calculate the uncertainties in lin...,post,35321
235896,215962,NaN,NaN,<p>I am trying to determine the habitat of a s...,post,33306
249773,254466,NaN,NaN,"<p>I have a time series Y, for one year and me...",post,29837
183579,286236,NaN,NaN,<p>I have a fitted mixed-effects model with a ...,post,29457

In [86]:
#example of large numerical table
#I wonder if i should filter out rows with `<pre>`?
df.loc[99414].text

'<p>I’m working on a trading system and need to apply some statistics on the results. Unfortunately I forgot all about statistics after I left university over a decade ago and now I really have no clue how I must calculate what I need. Hopefully someone can help me out.</p>\n\n<p>Out of the trading application (currently in test mode), I get profit / loss (PL) per trade and per day.</p>\n\n<p>Let’s say I have the day-to-day PL (an accumulation will give the total PL over the given period) of 5 years back testing (about 1250 points), what is the best way of “predicting” what the total profit might be in the next 6 months (125 points ahead) and the next year (250 points ahead)?</p>\n\n<p>Of course not every trade is profitable. So I have some trades with losses and (hopefully) more trades with profit.</p>\n\n<p>What is the best way of calculating what the profit per day (with a certain reliability) will be when you only take the winning trades into account, what lose will be when you only look at the losing trades and what the PL will be when you take both winning and losing trade combined.</p>\n\n<p>How can I calculate the change that over an X period of time, the strategy will, with a certain percentage of reliability) make money?</p>\n\n<p>Furthermore, I will of course not trade just one strategy, but multiple. Based on back testing, how can I calculate the likelihood that the portfolio I will be trading will make money in x period and how can I calculate the bandwidth for the expected profit for the pool? </p>\n\n<p>Hope you can help me out which methods to use (I’ll be programming it in C# by the way).</p>\n\n<hr>\n\n<p><strong>Example of day-to-day PL (rounded rounded to 0 decimals for the layout):</strong></p>\n\n<pre>\nDBDate  PeriodToPeriodPL        Accumulation\n20060720    0       \n20060721    -1741       -1741\n20060724    -716        -2458\n20060725    -821        -3279\n20060726    -149        -3427\n20060727    -3517       -6945\n20060728    2253        -4692\n20060731    97      -4594\n20060801    54      -4541\n20060802    329     -4212\n20060803    726     -3486\n20060804    569     -2917\n20060807    1359        -1558\n20060808    -682        -2240\n20060809    -635        -2874\n20060810    -277        -3152\n20060811    -255        -3406\n20060814    -542        -3948\n20060815    -1320       -5268\n20060816    932     -4336\n20060817    2553        -1783\n20060818    -155        -1938\n20060821    -367        -2305\n20060822    669     -1637\n20060823    433     -1204\n20060824    -734        -1938\n20060825    361     -1577\n20060828    -479        -2056\n20060829    -363        -2419\n20060830    -1268       -3686\n20060831    -424        -4111\n20060901    779     -3331\n20060904    1857        -1475\n20060905    -356        -1831\n20060906    -163        -1994\n20060907    -458        -2452\n20060908    1130        -1322\n20060911    -254        -1576\n20060912    -731        -2308\n20060913    -442        -2749\n20060914    986     -1763\n20060915    -497        -2260\n20060918    1236        -1024\n20060919    -842        -1866\n20060920    80      -1786\n20060921    -2628       -4413\n20060922    185     -4228\n20060925    -111        -4339\n20060926    377     -3963\n20060927    -1806       -5769\n20060928    881     -4888\n20060929    -800        -5688\n20061002    2010        -3677\n20061003    794     -2884\n20061004    1063        -1821\n20061005    2214        393\n20061006    1110        1503\n20061009    1401        2903\n20061010    -65     2838\n20061011    -77     2761\n20061012    -787        1974\n20061013    -1512       462\n20061016    300     762\n20061017    1058        1820\n20061018    1625        3445\n20061019    773     4218\n20061020    1854        6072\n20061023    492     6564\n20061024    -1063       5501\n20061025    1230        6731\n20061026    148     6878\n20061027    11      6889\n20061030    -1189       5700\n20061031    -47     5652\n20061101    -484        5168\n20061102    -152        5017\n20061103    -998        4019\n20061106    -591        3428\n20061107    -970        2458\n20061108    378     2836\n20061109    1217        4052\n20061110    745     4797\n20061113    201     4998\n20061114    -454        4545\n20061115    149     4693\n20061116    134     4828\n20061117    -677        4151\n20061120    1404        5555\n20061121    864     6418\n20061122    271     6689\n20061123    1503        8192\n20061124    4577        12769\n20061127    2245        15014\n20061128    -2902       12112\n20061129    2002        14114\n20061130    1108        15222\n20061201    1256        16479\n20061204    2236        18715\n20061205    -1496       17219\n20061206    842     18061\n20061207    -1639       16422\n20061208    650     17072\n20061211    248     17320\n20061212    -218        17102\n20061213    -873        16228\n20061214    -364        15865\n20061215    -27     15838\n20061218    -543        15295\n20061219    -974        14321\n20061220    2152        16473\n20061221    3382        19855\n20061222    -22     19832\n20061227    -44     19789\n20061228    1497        21286\n20061229    979     22265\n20070102    -1136       21129\n20070103    -620        20509\n20070104    -2040       18469\n20070105    -3541       14927\n20070108    -337        14591\n20070109    3120        17711\n20070110    -1904       15806\n20070111    -778        15028\n20070112    514     15542\n20070115    141     15683\n20070116    828     16511\n20070117    2184        18694\n20070118    769     19463\n20070119    -391        19072\n20070122    -1349       17723\n20070123    -231        17492\n20070124    1493        18985\n20070125    -7452       11533\n20070126    -1504       10029\n20070129    496     10526\n20070130    4924        15450\n20070131    -482        14968\n20070201    -683        14285\n20070202    -2375       11910\n20070205    509     12420\n20070206    3099        15519\n20070207    -765        14753\n20070208    859     15613\n20070209    -162        15451\n20070212    -61     15390\n20070213    -1330       14060\n20070214    884     14944\n20070215    -524        14420\n20070216    1504        15924\n20070219    966     16890\n20070220    577     17467\n20070221    3182        20649\n20070222    2579        23228\n20070223    -2234       20994\n20070226    -1637       19357\n20070227    683     20040\n20070228    1572        21612\n20070301    -83     21528\n20070302    371     21899\n20070305    1089        22988\n20070306    -470        22518\n20070307    157     22675\n20070308    -839        21837\n20070309    209     22046\n20070312    1658        23705\n20070313    -970        22734\n20070314    -1319       21415\n20070315    1298        22713\n20070316    204     22918\n20070319    -894        22024\n20070320    -1189       20835\n20070321    -231        20604\n20070322    -1939       18666\n20070323    189     18854\n20070326    -364        18490\n20070327    616     19106\n20070328    -2183       16922\n20070329    570     17492\n20070330    897     18389\n20070402    501     18889\n20070403    1067        19956\n20070404    -243        19714\n20070405    -2119       17595\n20070410    2158        19753\n20070411    -753        19000\n20070412    -648        18353\n20070413    1046        19399\n20070416    1773        21172\n20070417    -312        20859\n20070418    203     21062\n20070419    3498        24560\n20070420    5839        30399\n20070423    1620        32019\n20070424    -3004       29015\n20070425    -1182       27833\n20070426    -1897       25936\n20070427    -1849       24087\n20070430    0       24087\n20070502    0       24087\n20070503    0       24087\n20070504    0       24087\n20070507    1515        25602\n20070508    899     26501\n20070509    120     26620\n20070510    -743        25878\n20070511    6129        32007\n20070514    -618        31389\n20070515    -321        31068\n20070516    -2096       28972\n20070517    9       28981\n20070518    3362        32343\n20070521    806     33149\n20070522    824     33973\n20070523    41      34014\n20070524    4741        38755\n20070525    1337        40092\n20070529    -258        39834\n20070530    -1037       38797\n20070531    -2438       36359\n20070601    -227        36132\n20070604    -1223       34909\n20070605    -309        34601\n20070606    465     35065\n20070607    -1273       33792\n20070608    1515        35308\n20070611    -1985       33323\n20070612    0       33323\n20070613    977     34299\n20070614    3523        37823\n20070615    2774        40597\n20070618    -1459       39138\n20070619    1491        40628\n20070620    2928        43556\n20070621    -1287       42269\n20070622    436     42706\n20070625    151     42857\n20070626    509     43366\n20070627    -626        42741\n20070628    2392        45133\n20070629    -1406       43727\n20070702    510     44236\n20070703    2164        46401\n20070704    1362        47763\n20070705    123     47886\n20070706    -1548       46338\n20070709    -994        45344\n20070710    1279        46623\n20070711    993     47616\n20070712    -274        47341\n20070713    775     48116\n20070716    1083        49200\n20070717    1581        50780\n20070718    272     51052\n20070719    -1402       49650\n20070720    1273        50924\n20070723    -601        50322\n20070724    -423        49899\n20070725    4208        54107\n20070726    5212        59320\n20070727    -1074       58246\n20070730    -1086       57160\n20070731    2303        59463\n20070801    -851        58613\n20070802    3749        62362\n20070803    -573        61788\n20070806    161     61950\n20070807    -737        61213\n20070808    447     61660\n20070809    85      61745\n20070810    -1190       60555\n20070813    -2268       58287\n20070814    -1279       57008\n20070815    1787        58796\n20070816    2640        61435\n20070817    200     61636\n20070820    -2181       59454\n20070821    228     59683\n20070822    -2426       57256\n20070823    469     57725\n20070824    894     58619\n20070827    -719        57900\n20070828    -2274       55625\n20070829    -609        55016\n20070830    -354        54662\n20070831    -1308       53354\n20070903    -754        52600\n20070904    1138        53738\n20070905    580     54318\n20070906    700     55018\n20070907    -3132       51887\n20070910    1395        53282\n20070911    -852        52430\n20070912    1468        53898\n20070913    463     54361\n20070914    2815        57176\n20070917    2957        60133\n20070918    -612        59521\n20070919    -4888       54633\n20070920    384     55017\n20070921    3331        58348\n20070924    -626        57722\n20070925    -2263       55459\n20070926    -2498       52961\n20070927    -2361       50600\n20070928    286     50887\n20071001    -1173       49713\n20071002    1842        51555\n20071003    582     52138\n20071004    -400        51737\n20071005    -374        51363\n20071008    -2136       49227\n20071009    188     49414\n20071010    -214        49200\n20071011    11      49211\n20071012    439     49650\n20071015    3112        52762\n20071016    4980        57742\n20071017    484     58225\n20071018    2472        60697\n20071019    -802        59896\n20071022    1324        61220\n20071023    -816        60404\n20071024    3213        63617\n20071025    92      63709\n20071026    -413        63296\n20071029    -2371       60925\n20071030    -550        60375\n20071031    1879        62254\n20071101    -389        61865\n20071102    321     62186\n20071105    1033        63218\n20071106    1505        64724\n20071107    -1148       63576\n20071108    9273        72849\n20071109    -1341       71508\n20071112    -86     71422\n20071113    -1523       69899\n20071114    5691        75590\n20071115    -825        74765\n20071116    -3407       71358\n20071119    -2476       68882\n20071120    923     69805\n20071121    1226        71031\n20071122    507     71539\n20071123    -3045       68494\n20071126    316     68810\n20071127    -434        68376\n20071128    978     69354\n20071129    1120        70474\n20071130    1842        72315\n20071203    -1072       71243\n20071204    -2216       69027\n20071205    -1354       67673\n20071206    1242        68915\n20071207    -691        68224\n20071210    -2518       65706\n20071211    1337        67044\n20071212    -581        66462\n20071213    -1408       65054\n20071214    145     65198\n20071217    -3034       62165\n20071218    -1477       60687\n20071219    -2574       58113\n20071220    0       58113\n20071221    3305        61419\n20071227    -1763       59655\n20071228    114     59770\n20080102    -731        59039\n20080103    4131        63170\n20080104    2157        65327\n20080107    4497        69825\n20080108    -3348       66477\n20080109    5641        72118\n20080110    827     72945\n20080111    -2459       70486\n20080114    -4188       66297\n20080115    -2038       64260\n20080116    -1244       63016\n20080117    0       63016\n20080118    0       63016\n20080121    1429        64445\n20080122    -6762       57683\n20080123    1834        59517\n20080124    -2579       56938\n20080125    -1874       55064\n20080128    -1050       54013\n20080129    -3025       50989\n20080130    0       50989\n20080131    657     51646\n20080201    3606        55252\n20080204    550     55802\n20080205    -4845       50957\n20080206    659     51617\n20080207    2697        54314\n20080208    -746        53568\n20080211    838     54406\n20080212    -448        53958\n20080213    -121        53837\n20080214    -1257       52581\n20080215    -324        52257\n20080218    502     52759\n20080219    -171        52587\n20080220    1108        53695\n20080221    -203        53493\n20080222    5385        58878\n20080225    772     59650\n20080226    2802        62452\n20080227    940     63392\n20080228    -3395       59998\n20080229    -3194       56804\n20080303    63      56866\n20080304    458     57324\n20080305    -2545       54780\n20080306    3370        58149\n20080307    712     58861\n20080310    3039        61900\n20080311    -658        61241\n20080312    -1338       59904\n20080313    1720        61623\n20080314    -348        61275\n20080317    14165       75440\n20080318    -4111       71329\n20080319    1421        72750\n20080320    761     73511\n20080325    387     73897\n20080326    -1233       72664\n20080327    280     72944\n20080328    -1000       71944\n20080331    -240        71704\n20080401    2068        73772\n20080402    -1139       72633\n20080403    -2814       69818\n20080404    0       69818\n20080407    0       69818\n20080408    -976        68842\n20080409    -635        68207\n20080410    2204        70412\n20080411    -2373       68039\n20080414    294     68333\n20080415    1928        70261\n20080416    1701        71962\n20080417    -218        71744\n20080418    5511        77255\n20080421    397     77652\n20080422    -694        76958\n20080423    2855        79813\n20080424    -109        79703\n20080425    982     80685\n20080428    959     81644\n20080429    -1556       80088\n20080430    2966        83053\n20080502    869     83922\n20080505    -598        83324\n20080506    -2961       80363\n20080507    1572        81935\n20080508    80      82015\n20080509    956     82971\n20080512    64      83035\n20080513    -351        82683\n20080514    234     82917\n20080515    -155        82763\n20080516    -1792       80971\n20080519    -1756       79215\n20080520    -996        78219\n20080521    -3039       75180\n20080522    2047        77227\n20080523    930     78156\n20080526    -91     78065\n20080527    1468        79534\n20080528    855     80388\n20080529    2082        82470\n20080530    -1357       81114\n20080602    766     81879\n20080603    2640        84519\n20080604    -1182       83337\n20080605    -883        82454\n20080606    284     82738\n20080609    607     83345\n20080610    -1099       82245\n20080611    465     82710\n20080612    2730        85440\n20080613    3357        88797\n20080616    858     89656\n20080617    1707        91363\n20080618    -1158       90205\n20080619    -1267       88938\n20080620    519     89457\n20080623    -427        89029\n20080624    -519        88511\n20080625    488     88999\n20080626    2398        91397\n20080627    86      91483\n20080630    2527        94010\n20080701    981     94990\n20080702    3712        98703\n20080703    -2159       96544\n20080704    -407        96137\n20080707    -72     96065\n20080708    -382        95684\n20080709    3493        99176\n20080710    646     99822\n20080711    -1273       98549\n20080714    1904        100453\n20080715    219     100673\n20080716    -131        100542\n20080717    3144        103686\n20080718    4944        108630\n20080721    -1150       107480\n20080722    -1189       106291\n20080723    1711        108002\n20080724    -1233       106769\n20080725    1286        108055\n20080728    -982        107073\n20080729    749     107822\n20080730    5316        113138\n20080731    536     113674\n20080801    -1509       112166\n20080804    -462        111704\n20080805    -1617       110087\n20080806    -2006       108081\n20080807    -396        107685\n20080808    342     108027\n20080811    1433        109460\n20080812    -1532       107928\n20080813    -932        106996\n20080814    -756        106240\n20080815    -1902       104338\n20080818    -240        104098\n20080819    -1652       102445\n20080820    -247        102199\n20080821    1876        104075\n20080822    -122        103953\n20080825    727     104679\n20080826    424     105103\n20080827    704     105807\n20080828    -1731       104076\n20080829    -1425       102651\n20080901    386     103037\n20080902    2854        105891\n20080903    -554        105337\n20080904    -1844       103493\n20080905    -311        103182\n20080908    -1237       101945\n20080909    -901        101044\n20080910    -230        100813\n20080911    892     101706\n20080912    -786        100919\n20080915    60      100980\n20080916    675     101654\n20080917    274     101929\n20080918    1770        103699\n20080919    1341        105039\n20080922    -3465       101574\n20080923    1640        103214\n20080924    670     103885\n20080925    2537        106422\n20080926    812     107234\n20080929    682     107916\n20080930    280     108196\n20081001    4068        112264\n20081002    2195        114459\n20081003    1594        116053\n20081006    4246        120298\n20081007    2836        123134\n20081008    4321        127455\n20081009    -10120      117335\n20081010    3316        120651\n20081013    -1598       119053\n20081014    347     119400\n20081015    -8093       111308\n20081016    0       111308\n20081017    1124        112432\n20081020    -955        111477\n20081021    -4785       106692\n20081022    -4139       102553\n20081023    0       102553\n20081024    3450        106003\n20081027    654     106657\n20081028    1201        107858\n20081029    -5078       102780\n20081030    -606        102175\n20081031    1445        103619\n20081103    -2367       101252\n20081104    3176        104428\n20081105    -2022       102406\n20081106    -5305       97102\n20081107    3269        100370\n20081110    -1164       99206\n20081111    7168        106375\n20081112    -1697       104678\n20081113    -5533       99145\n20081114    3514        102658\n20081117    -2201       100458\n20081118    103     100561\n20081119    1036        101597\n20081120    -3323       98274\n20081121    3779        102053\n20081124    6253        108306\n20081125    -310        107996\n20081126    -2467       105528\n20081127    5954        111482\n20081128    -5365       106117\n20081201    872     106989\n20081202    2367        109356\n20081203    4042        113399\n20081204    1450        114848\n20081205    -1379       113469\n20081208    6825     

In [9]:
import re

def clean_text(txt):
    txt = re.sub(r'<pre>.*?</pre>', r'', txt, flags=re.S)
    txt = re.sub(r'<[^<]+?>', '', txt) #html tags
    txt = re.sub(r'\$[^$]+\$', '', txt)  #latex
    txt = re.sub(r'https?://[^\s]*', '', txt) #remove URLs
    txt = re.sub(r'\s+', ' ', txt) #condense spaces 
    return txt

df['text'] = df['text'].apply(clean_text)

In [10]:
df.loc[99414].text

'I’m working on a trading system and need to apply some statistics on the results. Unfortunately I forgot all about statistics after I left university over a decade ago and now I really have no clue how I must calculate what I need. Hopefully someone can help me out. Out of the trading application (currently in test mode), I get profit / loss (PL) per trade and per day. Let’s say I have the day-to-day PL (an accumulation will give the total PL over the given period) of 5 years back testing (about 1250 points), what is the best way of “predicting” what the total profit might be in the next 6 months (125 points ahead) and the next year (250 points ahead)? Of course not every trade is profitable. So I have some trades with losses and (hopefully) more trades with profit. What is the best way of calculating what the profit per day (with a certain reliability) will be when you only take the winning trades into account, what lose will be when you only look at the losing trades and what the PL will be when you take both winning and losing trade combined. How can I calculate the change that over an X period of time, the strategy will, with a certain percentage of reliability) make money? Furthermore, I will of course not trade just one strategy, but multiple. Based on back testing, how can I calculate the likelihood that the portfolio I will be trading will make money in x period and how can I calculate the bandwidth for the expected profit for the pool? Hope you can help me out which methods to use (I’ll be programming it in C# by the way). Example of day-to-day PL (rounded rounded to 0 decimals for the layout): '

In [11]:
df.head()

,post_id,parent_id,comment_id,text,category
0,1,NaN,NaN,Eliciting priors from experts,title
1,2,NaN,NaN,What is normality?,title
2,3,NaN,NaN,What are some valuable Statistical Analysis op...,title
3,4,NaN,NaN,Assessing the significance of differences in d...,title
4,6,NaN,NaN,The Two Cultures: statistics vs. machine learn...,title